body{
    height: 100%;
}

.coffee-test {
    width: 100%;
    height: 100%;
}

.coffeee-test-header {
    width: 100%;
    background: #030b4f;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.coffee-test-icon {
    width: 60px;
    height: 60px;
}

.coffee-test-title{
    font-size: 42px;
    font-family: 宋体;
    line-height: 60px;
    margin-left: 20px;
}

.coffee-test-body{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    background: #f1f5fe;

}

.coffee-test-body-left{
    width: 35%;
    height: 100%;
}

.coffee-test-body-right{
    width: 65%;
    height: 100%;
    background: #ffffff;
}

.coffee-test-body-image{
    width: 600px;
    height: 600px;
}

.coffee-test-body-content{
    padding: 0 50px 0 20px;
}

.coffee-test-footer{
    background: #030b4f;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}
